{% extends "layout.html" %}

{% block title %}New Duck{% endblock %}

{% block content %}

<body>
  <form action="/new-duck" method="post" enctype="multipart/form-data">
    <p>
      Title: <br />
      <input type="text" name="duck-name" />
    </p>
    <p>
      Image (Required): <br />
      <input type="file" name="duck-image" id="duck-image" accept=".png,.jpg" required />
    </p>
    <p>
      Description: <br />
      <input type="text" name="duck-description" />
    </p>
    <label for="category">Choose a category (Required):</label>

    <p>
      <select name="Category" id="category" required>
        {% for category in categories %}
        <option value="{ category.id }">{{ category.name }}: {{ category.description }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="Create a new Duck" />
  </form>
</body>


{% endblock %}