<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/static/main.css">
<head>
  <title>New Duck</Title>
</head>

<body>
  <form action="/new-duck" method="post">
    <p>
      Title: <br />
      <input type="text" name="duck_name" value="Untitled Duck" />
    </p>
    <p>
      Image: <br />
      <input type="file" name="duck_image" />
    </p>
    <p>
      Description: <br />
      <input type="text" name="duck_description" value="No description provided" />
    </p>
    <input type="submit" value="New Duck" />
  </form>
</body>  
</html>