<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css"> <!-- should this be specified separately for each thing?-->
<head>
  <title>Duck Rater</title>
</head>

<body>
  <h1>Rating ducks since the dawn of time</h1>
  {% if session.username %}
  <p>
    Hello, {{ session.username }} 
  </p>
  {% else %}
  <p>
    You haven't logged in, you cannot rate ducks
  </p>
  {% endif %}

  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/logout">Log Out</a>
  </p>

</body>

<body>
  <h2>Add New Duck</h2>
  <p>
    <a href="/new-duck">Add New Duck</a>
  </p>
</body>

{% for item in items %}
<div class="item">
<p>
  Duck information here PLACEHOLDER
</p>
<a href="/duck/{{ item.id }}">{{ item.title }}</a> <br />
</div>
{% endfor %}

</html>