{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<body>
  <form action="/create_account" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="20" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" maxlength="36" required />
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" maxlength="36" required />
    </p>
    <input type="submit" value="Create account" />
  </form>
</body>
{% endblock %}