{% extends "layout.html" %}

{% block title %}Remove Duck{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Remove Duck</h3>
<p>Are you sure you'd like to remove this duck? This action is irreversible.</p>
<form action="/remove-item/{{ item.id }}" method="delete">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Remove Duck">
  <input type="submit" name="back" value="Return">
</form>
<p>
  <a href="/item/{{ item.id }}">Return to the post</a>
</p>
{% endblock %}