{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h2>Category: {{ category.name}}</h2>
{% if session.user_id == item.creator %}
<p>
  <a href="/edit-item/{{ item.id }}">Edit</a>
  <a href="/remove-item/{{ item.id }}">Delete</a>
</p>
{% endif %}
<p>
  Ratings: {{ ratings_count }}, Average: {{ average_rating }}★
  {% if user_rating %}
  Your rating: {{ user_rating }}★
  {% endif %}
</p>

<hr>
</p>
{% for image in images %}
<br>
<img src="/duck-images/{{ image.id }}" alt="Picture of a duck" />
{% endfor %}
<hr>
<p>
  {{ item.description }}
</p>
<hr>
{% if session.user_id %}

<body>
  <form action="/add-rating/{{ item.id }}" method="post">
    <label for="rating">Add Rating</label>
    <p>
      <select name="rating" id="rating">
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
      </select>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Submit" />
    </p>
  </form>
</body>

<body>
  <form action="/create-comment/{{ item.id }}" method="post">
    <p>
      <label for="comment_text">Comment</label>: <br />
      <textarea name="comment_text" id="comment_text" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Submit" />
  </form>
</body>

{% endif %}

{% for comment in comments %}
<div class="comment">
  <br>
  User: <a href="/user/{{ comment.user_id }}">{{ comment.user }}</a>
  {% if session.user_id == comment.user_id %}
  <form action="/remove-comment/{{ item.id }}/{{ comment.id }}" method="delete">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="delete" value="Delete Comment">
  </form>
  {% endif %}
  <br>
  {{ comment.comment_text }}
  <hr>
</div>
{% endfor %}
{% endblock %}