{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>{{ category.name}}</h3>
{% if session.user_id == item.creator %}
<p>
  <a href="/edit_item/{{ item.id }}">Edit</a>
  <a href="/remove_item/{{ item.id }}">Delete</a>
</p>
{% endif %}
{% for image in images %}
<br />
<img src="/duck-images/{{ image.id }}" alt="Picture of a duck" />
<!-- should we support custom alt texts for images?-->
{% endfor %}
<br />
<p>
  {{ item.description }}
</p>
{% endblock %}